<p style="color: green"><%= notice %></p>

<%= render @product %>

<h2>Average Score: <%= @average_score %></h2>

<%= turbo_frame_tag "reviews" do %>
  <h3>Add a New Review</h3>

  <%= flash[:notice] %>

  <%= form_with model: [@product, @new_review] do |form| %>
    <div class="field">
      <%= form.label :score %>
      <%= form.number_field :score, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :comment %>
      <%= form.text_area :comment, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit 'Add Review', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render partial: 'products/review_list', locals: { reviews: @product.reviews, product: @product } %>
<% end %>

